/* Body */

body {
    background-color: #fefefe;
    padding:0px;
    margin:0px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Nav Bar */
nav {
    background-color: #040404;
    position: sticky;
    top: 0;
}

nav div ul
{
    margin: 0px;
    padding: 0px;
}

nav div ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav div ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

nav div ul li a:hover {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0C7489;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

nav div ul li .active {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0C7489;
    text-align: center;
    text-decoration: none;
}

nav .dividing-line {
    margin:0px;
    padding:0px;
    width:100%;
    height:3px;
    background-color: #0C7489;
}

.profile {
    text-align: center;
    font-weight: normal;
}


.role-info-container h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.roles-nav {
    margin:auto;
    padding:10px;
    text-align:center;
}

.role-active {
    display: inline-block;
    padding: 10px 30px;
    background-color: #119DA4;
    border: none;
    border-radius:5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: default;
    transition: color 0.3s;
}

.role-inactive {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(131, 131, 131);
    border: none;
    border-radius:5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.role-inactive:hover
{
    background-color: rgb(22, 213, 223);
    transition: background-color 0.3s;
}

.role-info-container {
    width: 100%;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background-color: #b6b6b1;
    box-shadow: inset 0px 4px 3px rgba(141, 141, 141, 0.75), inset 0px -1px 3px rgba(141, 141, 141, 0.75);
}

.skillbar-container
{
    width:40%;
    margin:auto;
    padding: 20px;
}

.gauge-container {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    box-sizing: border-box;
    margin-top: 5px;
}

.gauge-label {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width:15%;
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    border-radius: 3px 0px 0px 3px;
    background-color: #5e5e58;
    font-size: 15px;
}

.gauge {
    width:85%;
    background-color: #ddd;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 0px;
}

.gauge-fill {
  text-align: right;
  padding: 15px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
}

.p10 { 
    width: 10%; 
    background-color: #119DA4
}

.p20 { 
    width: 20%; 
    background-color: #119DA4
}

.p30 { 
    width: 30%; 
    background-color: #119DA4
}

.p40 { 
    width: 40%; 
    background-color: #119DA4
}

.p50 { 
    width: 50%; 
    background-color: #119DA4
}

.p60 { 
    width: 60%; 
    background-color: #119DA4
}

.p70 { 
    width: 70%; 
    background-color: #119DA4
}

.p80 { 
    width: 80%; 
    background-color: #119DA4
}

.p90 { 
    width: 90%; 
    background-color: #119DA4
}

.p100 { 
    width: 100%; 
    background-color: #119DA4
}

.centered
{
    text-align: center;
}

.tile-container {
    margin:0;
    display: flex;
    justify-content: center;
}

.tile-grid {
    width:60%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tile {
    width:300px;
    height:200px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 4px 3px rgba(141, 141, 141, 0.75);
}

